* {
    font-family: 'Nunito', sans-serif;
}

#scottsdaleMap { 
    height: 400px; 
    width: 600px;
    margin: 25px;

}


@media (min-width: 768px) {
    .email-input {
        width: 50%;
    }
}
